{{define "list" -}}
{{"{{"}}define "{{lowercase .Name}}list" {{"}}"}}
{{"{{"}}template "base" .{{"}}"}}
<!-- Time: {{.TimeStamp}} -->
{{"{{"}}with .Data{{"}}"}}
                       <div class="card events-card">      
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                     <thead>
                                      <tr>
                                        <th>Id</th>	
                                        {{range .Fields}}<th>{{.Name}}</th>
                                        {{end -}}
                                      </tr>
                                    </thead>
                                        <tbody>
                                          {{"{{"}}range .{{"}}"}}
                                          <tr>
                                            <td>{{"{{.Id}}"}}</td>
                                            {{range .Fields}}<td>{{"{{ ."}}{{.Name}} {{"}}"}}</td>	
                                            {{end -}}
                                            <td><form method="post" action="/{{.Name | plural | lowercase}}/{{"{{.Id}}"}}/delete" name="{{"{{.Id}}"}}">
                                              <button class="button is-primary">Delete</button>
                                              </form>  </td>                                          
                                              <td><a class="button is-link" href="/{{.Name | plural | lowercase}}/{{"{{.Id}}"}}">Edit</a></td>
                                          </tr>
                                          {{"{{end}}"}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a class="button is-primary" href="/{{.Name | plural | lowercase}}/new" >New</a>        
                             </footer>                           
                        </div>  
{{"{{- end}}"}}  
{{"{{"}}template "_footer" .{{"}}"}}
{{"{{"}}end{{"}}"}}         
{{end}}