{{define "content" -}}
{{"{{"}}define "content" {{"}}"}}
<!-- Time: {{.TimeStamp}} -->
                       <div class="card events-card">      
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                     <thead>
                                      <tr>
                                        <th>Id</th>	
                                        {{range .Fields}}<th>{{.Name}}</th>
                                        {{end -}}
                                      </tr>
                                    </thead>
                                        <tbody>
                                          {{"{{"}}range $index,value := .map{{"}}"}}
                                          <tr>
                                            <td>{{"{{ .Id }}"}}</td>
                                            {{range .Fields}}<td>{{"{{ ."}}{{.Name}} {{"}}"}}</td>	
                                            {{end -}}
                                            <td class="level-right"><a class="button is-small is-secondary" href="/{{lowercase .Name}}/delete/{{"{{.Id}}"}}">Delete</a></td>
                                            <td class="level-right"><a class="button is-small is-primary" href="/{{lowercase .Name}}/edit/{{"{{.Id}}"}}">Edit</a></td>
                                          </tr>
                                          {{"{{end}}"}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                               <a href="/{{lowercase .Name}}/new" class="card-footer-item button is-link is-light">New</a>
                             </footer>                           
                        </div>    
{{"{{"}}end{{"}}"}}         
{{end}}