{{define "sidenav" -}}
{{"{{"}}define "sidenav" {{"}}"}}
<!-- Time: {{.Object.TimeStamp}} -->
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a class="is-active" href="/">Dashboard</a></li>
                        <li><a>Other</a></li>
                    </ul>
                    <p class="menu-label">
                        Administration
                    </p>
                    <ul class="menu-list">
                    {{range .Entities}}
                        <li><a href="/{{.Name | plural | lowercase}}">{{.Name}}</a>
                          <ul>
                              <li><a href="/{{.Name | plural | lowercase}}">{{plural .Name}}</a></li>
                              <li><a href="/{{.Name | plural | lowercase}}/0">Add {{.Name}}</a></li>
                          </ul>
                        </li>
                    {{end}}
                     </ul>
                </aside>
{{"{{"}}end{{"}}"}}
{{end}}