{{define "types"}}
{{- if eq .Type "string"}}string{{end}}
{{- if eq .Type "int"}}int{{end}}
{{- if eq .Type "bool"}}bool{{end}}
{{- if eq .Type "lookup"}}string{{end}}
{{- if eq .Type "email"}}string{{end}}
{{- if eq .Type "tel"}}string{{end}}
{{- end}}